
button[type="button"] {
	font-family: 'Playfair Display', serif;
}

#search_bar {
	width: 100%;
	height: 100px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background: #FFF;
}

#search_by_id {
	width: 20%;

	margin-left: 6%;
	margin-top: 25px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

#error_msg {
	color: #FF0000;
	margin-left: 3%;
}

#search_by_word {
	width: 20%;

	margin-left: 0.5%;
	margin-top: 25px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

#show_all {
	width: 7%;

	margin-left: 0.5%;
	margin-top: 40px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

#show_all button {
	border: 1px solid #000;
	background: #000;
	color: #FFF;
	font-family: 'Playfair Display', serif;
}

#show_all button:hover {
	background: #FFF;
	color: #000;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
}


#num_selec {
	width: 8%;

	margin-left: 3%;
	margin-top: 45px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 1.0em;
}

.admin_content {
	width: 100%;
}

#admin_options {
	width: 80%;

	margin-left: 10%;
	margin-top: 105px;
}

.photo_option {
	width: 250px;

	float: left;
	overflow: hidden;
}

.photo_option img {
	width: 100%;
}

.photo_selec img {
	border: 3px solid #000;
}

.delete_photo {
	position: relative;
	float: left;
	color: #FF0000;
}

.delete_photo:hover {
	cursor: pointer;
}

.wordcount {
	position: relative;
	float: right;
}

.info_option {
	font-family: 'Playfair Display', serif;
	font-size: 0.85em;
}

#got_to_tag {
	width: 11%;

	margin-top: 41px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

#got_to_tag button {
	border: 1px solid #000;
	background: #000;
	color: #FFF;
	font-family: 'Playfair Display', serif;
}

#got_to_tag button:hover {
	background: #FFF;
	color: #000;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
}

#empty_info {
	font-family: 'Playfair Display', serif;
	font-size: 1em;
}

#error_msg_2 {
	float: left;
	color: #FF0000;
}

#error_msg_3 {
	position: absolute;
	float: left;
	color: #FF0000;
	left: 4%;
	top: 190px;
}

 /************************************/

 #tools_bar {
 	width: 100%;
	height: 100px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background: #FFF;
 }

 #selection_container {
 	width: 30%;
 	height: 1000px;	
 }

 #back {
	width: 7%;

	margin-left: 6%;
	margin-top: 41px;
	float: left;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

#back button {
	border: 1px solid #000;
	background: #000;
	color: #FFF;
	font-family: 'Playfair Display', serif;
}

#back button:hover {
	background: #FFF;
	color: #000;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
}

#admin_selection {
	width: 80%;

	margin-left: 10%;
	margin-top: 105px;
}

.photo_selection {
	width: 415px;

	position: relative;

	float: left;
	overflow: hidden;
}

.photo_selection img {
	width: 58%;
}

.info_selection {
	font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.words_photo_container {
	width: 180px;

	position: absolute;
	top: 33px;
	left: 56%;
}

.words_photo_container input[type="text"] {
	width: 68%;

	margin-left: 15%;
	float: left;

	border: 1px solid #000;
	font-family: 'Playfair Display', serif;
}

.words_photo_container input[type="text"]:focus {
	outline: none;
}

.words_select {
	width: 100%;

	overflow-y: scroll;
	list-style: none;

	margin-left: -7%;
	margin-top: 30px;
}

.words_select li {
	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

.words_select li span {
	display: none;
}

.words_select li span:hover {
	cursor: pointer;
}

#dictionary_tool {
	width: 14%;
	
	float: left;
	margin-left: 1.5%;
	margin-top: 33px;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;

	background: #FFF;
}

#dictionary_header {
	width: 100%;
	height: 21px;

	position: relative;
	border: 1px solid #000;
}

#dictionary_title {
	width: 85%;
	height: inherit;

	float: left;

	background: #000000;
	color: #FFFFFF;
}

#dictionary_unfold {
	width: 11%;
	height: inherit;

	float: left;

	font-size: 1.4em;
	padding-left: 3.5%;

	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none;
}

#dictionary_unfold:hover {
	cursor: pointer;
}

#dictionary_tool input[type="text"] {
	width: 80%;
	border: 1px solid #000;
	font-family: 'Playfair Display', serif;
}

#dictionary_tool input[type="text"]:focus {
	outline: none;
}

#words_dictionary_container {
	width: 100%;
	height: 550px;

	margin-top: -12px;
}

#words_dictionary {
	width: 100%;
	height: 450px;
	list-style: none;
	overflow-x: hidden;

	margin-left: -19%;
}

#dictionary_actions {
	width: 100%;
	margin-top: 10px;

	position: relative;
}

#dictionary_one_wrapper, #categories_one_wrapper, #synonyms_one_wrapper {
	width: 100%;
	height: 150px;

	position: absolute;
	top: -10px;
	left: -100%;

	background: #FFF;
}

#dictionary_one_options {
	width: 92%;
	height: 130px;
	margin-left: -16%;

	list-style: none;
	color: #000;
	overflow-x: hidden;
}

#dictionary_one_options li:hover {
	color: #FFF;
	background: #000;
}

#categories_one_options {
	width: 92%;
	height: 130px;
	margin-left: -16%;

	list-style: none;
	color: #000;
	overflow-x: hidden;
}

#categories_one_options li:hover {
	color: #FFF;
	background: #000;
}

#dictionary_all:hover {
	cursor: pointer;
	text-decoration: underline;
}

#dictionary_one:hover {
	cursor: pointer;
	text-decoration: underline;	
}

#dictionary_one > div {
	display: none;
}

#dictionary_one:hover > div {
	display: block;
}

#categories_one > div {
	display: none;
}

#categories_one:hover > div {
	display: block;
}

.word_dict_selec {
	color: #FFF;
	background: #000;
}

.definition_mark {
	width: 10%;
	float: right;
	margin-right: 2%;
}

.definition_mark:hover {
	cursor: pointer;
	text-decoration: underline;	
}

.definition {
	margin-top: 4px;
	margin-left: 7%;
	width: 80%;
	font-style: oblique;	
}

/*********** SYNONYMS TOOL ****************/

#synonyms_tool {
	width: 16%;
	
	float: left;
	margin-left: 20%;
	margin-top: 33px;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;

	background: #FFF;
}

#synonyms_header {
	width: 100%;
	height: 21px;

	position: relative;
	border: 1px solid #000;
}

#synonyms_title {
	width: 85%;
	height: inherit;

	float: left;

	background: #000000;
	color: #FFFFFF;
}

#synonyms_unfold {
	width: 11%;
	height: inherit;

	float: left;

	font-size: 1.4em;
	padding-left: 3.5%;

	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none;
}

#synonyms_unfold:hover {
	cursor: pointer;
}

#no_synonyms {
	margin-top: 14px;
	margin-left: 4%;
}

.synonym_selec {
	background: #000;
	color: #FFF;
}

#synonyms_tool input[type="text"] {
	width: 80%;
	border: 1px solid #000;
	font-family: 'Playfair Display', serif;
}

#synonyms_tool input[type="text"]:focus {
	outline: none;
}

#synonyms_content {
	width: 100%;
	height: 200px;
	background: #FFF;
}

#synonyms_actions {
	width: 100%;
	margin-top: 10px;

	position: relative;
}

#synonyms_all:hover {
	cursor: pointer;
	text-decoration: underline;
}

#synonyms_one:hover {
	cursor: pointer;
	text-decoration: underline;	
}

#synonyms_one > div {
	display: none;
}

#synonyms_one:hover > div {
	display: block;
}

#synonyms_one_options {
	width: 92%;
	height: 130px;
	margin-left: -12%;

	list-style: none;
	color: #000;
	overflow-x: hidden;
}

#synonyms_one_options li:hover {
	color: #FFF;
	background: #000;
}

#synonyms_container {
	width: 100%;
	margin-top: -12px;
}

#synonyms {
	width: 100%;
	height: 130px;
	list-style: none;
	overflow-x: hidden;

	margin-left: -16%;
}

/*********** ASSIGN ALL TOOL ****************/

#assign_all_tool {
	width: 16%;
	
	float: left;
	margin-left: 1.5%;
	margin-top: 33px;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;

	background: #FFF;
}

#assign_all_header {
	width: 100%;
	height: 21px;

	position: relative;
	border: 1px solid #000;
}

#assign_all_title {
	width: 85%;
	height: inherit;

	float: left;

	background: #000000;
	color: #FFFFFF;
}

#assign_all_unfold {
	width: 11%;
	height: inherit;

	float: left;

	font-size: 1.4em;
	padding-left: 3.5%;

	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none;
}

#assign_all_unfold:hover {
	cursor: pointer;
}

#assign_all_tool input[type="text"] {
	width: 80%;
	border: 1px solid #000;
	font-family: 'Playfair Display', serif;
}

#assign_all_tool input[type="text"]:focus {
	outline: none;
}

/*********** CATEGORIES TOOL ****************/

#categories_tool {
	width: 15%;
	
	float: left;
	margin-left: 1.5%;
	margin-top: 33px;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;

	background: #FFF;
}

#categories_header {
	width: 100%;
	height: 21px;

	position: relative;
	border: 1px solid #000;
}

#categories_title {
	width: 85%;
	height: inherit;

	float: left;

	background: #000000;
	color: #FFFFFF;
}

#categories_unfold {
	width: 11%;
	height: inherit;

	float: left;

	font-size: 1.4em;
	padding-left: 3.5%;

	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none;
}

#categories_unfold:hover {
	cursor: pointer;
}

#categories_actions {
	width: 100%;
	margin-top: 10px;

	position: relative;
}

#categories_all:hover {
	cursor: pointer;
	text-decoration: underline;
}

#categories_container {
	width: 94%;
	height: 150px;

	float: left;
	margin-left: 2.4%;
}

#categories {
	width: 100%;
	height: 150px;
	list-style: none;
	overflow-x: hidden;

	margin-left: -19%;
	margin-top: 0px;
}

#categories li span {
	cursor: pointer;
	display: none;
}

#add_category, #add_category_word {
	width: 80%;
	border: 1px solid #000;

	margin-left: 2.4%;
	font-family: 'Playfair Display', serif;
}

#add_category:focus, #add_category_word:focus {
	outline: none;
}

#categories_words_container {
	width: 94%;
	height: 150px;

	float: left;
	margin-left: 2.4%;
}

.category_selec {
	color: #FFF;
	background: #000;
}

#categories_words {
	width: 100%;
	height: 150px;
	list-style: none;
	overflow-x: hidden;

	margin-left: -19%;
	margin-top: 0px;
}

#categories_words li span {
	cursor: pointer;
	display: none;
}

/*********** UPLOAD **************/

#upload_tool {
	width: 15%;
	
	float: left;
	margin-left: 1.5%;
	margin-top: 41px;

	font-family: 'Playfair Display', serif;
	font-size: 0.8em;

	background: #FFF;
}

#upload_header {
	width: 100%;
	height: 21px;

	position: relative;
	border: 1px solid #000;
}

#upload_title {
	width: 85%;
	height: inherit;

	float: left;

	background: #000000;
	color: #FFFFFF;
}

#upload_unfold {
	width: 11%;
	height: inherit;

	float: left;

	font-size: 1.4em;
	padding-left: 3.5%;

	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none;
}

#upload_unfold:hover {
	cursor: pointer;
}

#upload_content {
	width: 130%;
	height: 200px;

	position: relative;
	padding-top: 10px;

	background: #FFF;
}

#upload_form {
	width: 70%;
	height: 21px;

	margin-left: 10%;
	padding-top: 5px;
	padding-left: 10%;

	background: #FFF;
	border: 1px solid #000;

	cursor: pointer;
}

/*** DROPZONE ***/
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
	background: rgba(255,255,255,0.8);
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 24px;
	margin-left: 15%;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
	display: none;
}

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
	width: 100px;
	height: 100px;
	position: relative;
	background: #ebebeb;
	padding: 5px;
	margin-bottom: 22px;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
	overflow: hidden;
	height: 100%;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
	position: absolute;
	bottom: -28px;
	left: 27%;
	height: 28px;
	line-height: 28px;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	display: block;
	font-size: 1.6em;
}

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
	display: none;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 10px;
	text-align: center;
	right: -10px;
	top: -10px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
	color: #8cc657;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
	color: #ee162d;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0px;
	right: 0px;
	height: 6px;
	background: #d7d7d7;
	display: none;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0%;
	background-color: #8cc657;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
	display: block;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
	display: none;
	position: absolute;
	top: -5px;
	left: -20px;
	background: rgba(245,245,245,0.8);
	padding: 8px 10px;
	color: #800;
	min-width: 140px;
	max-width: 500px;
	z-index: 500;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	display: block;
}
