
#dia_container {
	width: 100%;
}

.dia_form label {
	font-family: 'Playfair Display', serif;
	font-size: 0.8em;
}

.dia_form textarea {
	width: 67%;
	border: 1px solid #000;
	background: #FFF;
	float: left;

	font-family: 'Playfair Display', serif;
}

.dia_form input[type="email"] {
	width: 67%;
	border: 1px solid #000;
	background: #FFF;

	font-family: 'Playfair Display', serif;
}

.dia_form input[type="email"]:focus, .dia_form input[type="password"]:focus, .dia_form textarea:focus {
	outline: none;
}

.dia_form input[type="password"] {
	width: 67%;
	border: 1px solid #000;
	background: #FFF;

	font-family: 'Playfair Display', serif;
}

.dia_form input[type="text"] {
	width: 67%;
	border: 1px solid #000;
	background: #FFF;

	font-family: 'Playfair Display', serif;
}

.dia_form input[type="text"]:focus {
	outline: none;
}

.dia_form button {
	border: 1px solid #000;
	background: #000;
	color: #FFFFFF;
}

.dia_form button:hover {
	background: #FFF;
	color: #000;
	cursor: pointer;
}


.dia_form input[type="submit"] {
	border: 1px solid #000;
	background: #000;
	color: #FFFFFF;
	font-family: 'Playfair Display', serif;
}

.dia_form input[type="submit"]:hover {
	background: #FFF;
	color: #000;
	cursor: pointer;
}

.dia_form input[type="file"] {
	width: 94%;
	float: left;
	border: 1px solid #000;
	color: #000;
}

.error_login {
	float: right;
	margin-right: 3%;
	margin-top: 17px;
	color: #FF0000;
	font-family: 'Playfair Display', serif;
}

#registration_form_conatiner {
	width: 30%;
	height: 270px;

	background: #FFF;
	margin-top: 10px;
	font-family: 'Playfair Display';
	font-size: 0.89em;
}
