@font-face {
	font-family: Zapfding;
	src: url("ZapfDingbats.ttf");
}

body {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;

	background: #FFFFFF;
	color: #9693a8;

	font-family: 'Playfair Display', serif;
}

html {
	overflow: hidden;
}

#mainContainer {
	width: 1200px;
	height: 100%;
	min-height: 850px;

	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -600px;
	
	overflow: hidden;
}

input {
	text-transform: lowercase;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 40px;
	background-color: #e9eadf;
	color: #A8A8A8;
	border:none;
	width: 477px;
	height: 60px;
	vertical-align: center;
	padding-left: 10px;
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
}

.ui-loader {
	display: none;
}

input:focus, input:hover, .ui-mobile:focus, .ui-mobile-viewport:focus, .ui-loader:focus {
	outline: none;
}

#searchedWord {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 106px;
	width: 477px;
	height: 412px;
	background-color: #e9eadf;
	font-size: 38px;
	color: #000000;
	padding-top: 5px;
	padding-left: 10px;
}

#searchedWordCounter {
	position: absolute;
	left: 10px;
	top: 528px;
	font-size: 16px;
	color: #000000;
}

#searchedWordFlechas {
	position: absolute;
	left: 65px;
	top: 518px;
	font-size: 16px;
	color: #000000;

	font-family: Zapfding, serif;
}

#searchedImage {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	left: 483px;
	top:40px;
	width: 717px;
	height: 478px;
}

#searchedImageCounter {
	position: absolute;
	left: 494px;
	top: 528px;
	font-size: 16px;
	color: #000000;
}

#searchedImageFlechas {
	position: absolute;
	left: 544px;
	top: 518px;
	font-size: 16px;
	color: #000000;

	font-family: Zapfding, serif;
}

.flechas {
	display: inline;
	font-size: 30px;
	color: #A8A8A8;
	cursor: pointer;
}

.der {
	margin-left: 6px;
}

.words {
	font-size: 16px;
}

#words {
	position: absolute;
	bottom: 80px;
	width: 1200px;
}

.words div {
	margin-left: 30px;
	width: 1140px;
}

#successfulWords img {
	position: absolute;
	left: 0px;
	bottom: 78px;
	width: 18px;
	height: auto;
}

#successfulWords span {
	cursor: pointer;
}

#unsuccessfulWords img {
	position: absolute;
	left: 0px;
	bottom: 20px;
	width: 16px;
	height: auto;
}

#successfulWords div {
	position: absolute;
	left: 10px;
	bottom: 62px;
	color: #000000;
	width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	overflow: hidden;
	height: 40px;
}

#unsuccessfulWords div {
	position: absolute;
	left: 10px;
	bottom: 0px;
	width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	overflow: hidden;
	height: 40px;
}

.words span {
	margin-right: 20px;
	display: inline-block;
}

/* --------------------------------------------
   Visualización iPad en modo Landscape
-------------------------------------------- */

/* --------------------------------------------
   Visualización iPad en modo portrait
-------------------------------------------- */

/* --------------------------------------------
   Visualización móviles 600px
-------------------------------------------- */

@media screen and (max-width: 1366px) {
	#mainContainer {
		width: 1200px;
		height: 100%;
		min-height: 720px;

		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -600px;
		
		overflow: hidden;
	}

	#successfulWords {
		position: relative;
		top: 35px;
	}

	#successfulWords img {
		position: absolute;
		left: 0px;
		bottom: 65px;
		width: 18px;
		height: auto;
	}

	#successfulWords div {
		position: absolute;
		left: 10px;
		bottom: 62px;
		color: #000000;
		width: -webkit-calc(100% - 40px);
	    width: -moz-calc(100% - 40px);
		width: calc(100% - 40px);
		overflow: hidden;
		height: 20px;
	}

	#unsuccessfulWords img {
		position: absolute;
		left: 0px;
		bottom: 1px;
		width: 16px;
		height: auto;
	}

	#unsuccessfulWords div {
		position: absolute;
		left: 10px;
		bottom: 0px;
		width: -webkit-calc(100% - 40px);
	    width: -moz-calc(100% - 40px);
		width: calc(100% - 40px);
		overflow: hidden;
		height: 20px;
	}

}
